spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: abidi.abdennasser@gmail.com
    password: rdkz ohnu bmym cwxh
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000